body{
  background-color: rgba(30, 216, 241, 0.822);
  margin: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.man{
  margin-bottom: 19.5%;
}
.main{
  font-family: 'Lucida Sans';
  
}
.img{
  border-radius: 10%;
  width: 30%;
  height: 30%;
  margin-left: 30%;
  transition: transform 0.15s, box-shadow 0.15s;
}
img:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img1{
  margin-top: 2%;
  border-radius: 10%;
  height: 25%;
  width: 29%;
  margin-left: 35%;
  transition: transform 0.15s, box-shadow 0.15s;
}
.img1:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img2{
  height: 20%;
  width: 20%;
}
.nav1{
  margin-top: 0%;
  display: flex;
  gap: 50%;
  background-color: rgba(0, 195, 255, 0.488);
  padding-right: 25%;
}
.nav{
  font-family: 'Lucida Sans';
  display: flex;
  list-style: none;
  text-decoration: none;
  object-position: fixed;
  gap: 15%;
  font-size: 120%;
  text-align: center;
  padding-top: ;
  padding-right: 0%;
  padding-left: 10%;
  color: white;
  font-weight: bold;  
  
}
.al:hover{
  color: rgba(30, 216, 241, 0.981);
  background-color: white;
}
.al:active{
  color: rgba(30, 216, 241, 0.266);
}
.abt{
  font-family: 'Lucida Sans';
  margin-top: 1%;
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10%;
  background-color: rgba(0, 195, 255, 0.221);
  transition: transform 0.15s, box-shadow 0.15s;
}
.abt:hover{
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.tt{
  text-align: center;
}
.hed{
  font-family: 'Lucida Sans';
}
.txtsec{
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 50%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.262);
  border-radius: 5%;
  transition: transform 0.15s, box-shadow 0.15s;
}
.txtsec:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.al{
  color: white;
  margin-top: 17%;
  margin-bottom: 17%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 5%;
  padding-top: 8%;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  border: none;
  border-radius: 35%;
  height: 35%;
  width: 250%;
  margin-right: 10%;
}
.al:hover{
  background-color: rgba(0, 191, 255, 0.482);
  color: white;
}
.foot{
  background-color: rgba(0, 195, 255, 0.488);
  text-align: center;
  bottom: 0px;
  padding-bottom: 2%;
}
.ftext{
  list-style: none;
  text-align: left;
}